@model List<TicketOrderedDetialViewModel>
<h2>Ticket Order Detail</h2>
@* <div class="col-5">
    <div class="  text-center rounded-top fw-bold">TicketOrder Detail</div>
    <div class="p-5 bg-light rounded-bottom">

        <div class="mb-3 row">
            <label class="col">Passenger Type :</label>
            <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.PassengerType" id="txtpassengerType" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col">BusLine Type :</label>
            <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.BusLineType" id="txtBusLineType" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col">When :</label>
            <input type="datetime" disabled class="border border-light col text-start bg-transparent" value="@Model.When" id="dtpWhen" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col">SeatNo :</label>
            <input type="datetime" disabled class="border border-light col text-start bg-transparent" value="@Model.SeatNo" id="dtpWhen" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col">When :</label>
            <input type="datetime" disabled class="border border-light col text-start bg-transparent" value="@Model.Seatrow" id="dtpWhen" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col">SeatPlace :</label>
            <input type="datetime" disabled class="border border-light col text-start bg-transparent" value="@Model.SeatPlace" id="dtpWhen" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col">Status :</label>
            <input type="datetime" disabled class="border border-light col text-start bg-transparent" value="@Model.Status" id="dtpWhen" readonly>
        </div>
    </div>
</div> *@
<div class="col">
    <button type="submit" class="btn btn-primary btn-lg checking" style="margin-left:250px">Confirm</button>
    <button type="reset" class="btn btn-secondary btn-lg">Cancle </button>
</div>


