@model List<RouteViewModel>
<h1>Route List Information</h1>
@if (TempData["info"] != null)
{
    <div class="alert alert-info">@TempData["info"]</div>
}
<table class="table table-striped-columns" id="tableRoute">
    <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Form City</th>
            <th scope="col">To City </th>
            <th scope="col">Unit Price</th>
            <th scope="col">When </th>
            <th scope="col">Bus Line Name</th>
            <th scope="col">Remark</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>@item.FormCityName</td>
                <td>@item.ToCityName</td>
                <td>@item.UnitPrice</td>
                <td>@item.When</td>
                <td>@item.Owner</td>
                <td>@item.Remark</td>
                <td>
                    <a class="btn btn-success" href="/route/edit?id=@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/route/delete?id=@item.Id" onclick="return confirm('are you sure to delete this recrod?');" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tableRoute").DataTable();
    });
</script>