@model SeatPlanViewModel
<div class="row">
    <div class="col-7">
        <div class="seatPlan py-3 text-center rounded-top">
            Please Select Your Seat(s)
        </div>
        <div class="p-5 bg-light rounded-bottom">
            <div class="row mb-2">
                <div class="col-12 text-center py-3 border border-1 border-primary bg-primary">Driver</div>
                <div class="col-6 border-bottom border-3 fs-5 fw-bold border-primary text-center">Left</div>
                <div class="col-6 border-bottom border-3 fs-5 fw-bold border-danger text-center">Right</div>
            </div>
            <div class="row seatContainer">
                @for (int i = 0; i < Model.NumberOfSeat; i++)
                {
                    int rowNumber = (i/ 4) + 1;
                    string rowId = "Row" + rowNumber;
                    <div class="col-3 mr-2 seatHover AboutSeat border border-dark py-3 shadow text-center @Model.Seats[i].Status" id="@rowId" style="background-color:@Model.Seats[i].Status;"> @Model.Seats[i].SeatNo</div>
                }
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="seatPlan py-3 text-center rounded-top fw-bold">Trip Summary</div>
        <div class="p-5 bg-light rounded-bottom">
            <input type="hidden" value="@Model.RouteId" id="txtRouteId" />
            <div class="mb-3 row">
                <label class="col">Passenger Type :</label>
                <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.PassengerType" readonly id="txtPassengerType">
            </div>
            <div class="mb-3 row">
                <label class="col">Bus Line Type:</label>
                <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.BusLineType" readonly id="txtBusLineType">
            </div>
            <div class="mb-3 row">
                <label class="col">When (ကားထွတ်ချိန်):</label>
                <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.When" readonly id="txtWhen">
            </div>
            <div class="mb-3 row">
                <label class="col">Depatured Date (ခရီးစဉ် ရက်စွဲ)):</label>
                <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.DepaturedDate" readonly id="dptDepaturedDate">
            </div>
            <div class="mb-3 row">
                <label class="col">Unit Price (MMK) (လက်မှတ်ခ-ကျပ်):</label>
                <input type="text" disabled class="border border-light col text-start bg-transparent" value="@Model.UnitPrice" readonly id="txtUnitPrice">
            </div>
            <div class="mb-3 row">
                <label class="col">Seat Row</label>
                <input type="text" disabled class="border border-light col text-start bg-light p-1 text-primary overflow-auto" id="seatRow">
            </div>
            <div class="mb-3 row">
                <label class="col">Status</label>
                <input type="text" readonly class="border border-light col text-start bg-transparent" value="Pending">
            </div>
            <div class="mb-3 row">
                <label class="col">Number Of Ticket (s)</label>
                <input type="number" readonly class="border border-light col text-start bg-transparent" id="txtNumberOfTickets">
            </div>
            <div class="mb-3 row">
                <label class="col">Total Price (MMK)</label>
                <input type="text" readonly class="border border-light col text-start bg-transparent" id="txtTotalAmount">
            </div>
            <input class=" form-control selectSeat text-center text-primary fs-5 fw-bold" disabled />
            <button class="btn btn-danger checking mt-5 col-12">Check out</button>
        </div>
    </div>
</div>
<script>
    let allSelectSeats = [];
    let allSelectRoles = [];
    let numberOfSelectedTickets = 0;
    $(".seatContainer").on('click', function (event) {
        let clickSeat = $(event.target);
        if (clickSeat.hasClass("red")) {
            alert("This seat number is already ordered.Please choose other seat(s).Thanks!!");
            return;
        }
        clickSeat.toggleClass("selectedSeat AboutSeat");
        let currentValue = $(".selectSeat").val();
        let currentRowValue = $("#seatRow").val();
        let modifiedValue;
        let seatRow;
        let removeValue = clickSeat.html()
        let removeRole = clickSeat.html() + " " + clickSeat.attr("id");
        if (!clickSeat.hasClass("AboutSeat")) {
            allSelectSeats.push(clickSeat.html());
            allSelectRoles.push(clickSeat.html()+","+clickSeat.attr("id"));
            if (currentValue == "") {
                modifiedValue = clickSeat.html();
                seatRow = clickSeat.html() + " " + clickSeat.attr("id");
            } else {
                if (currentValue.charAt(currentValue.length - 1) == ",") {
                    modifiedValue = currentValue + clickSeat.html();
                    seatRow = currentRowValue + clickSeat.html() + " " + clickSeat.attr("id");
                } else {
                    modifiedValue = currentValue + "," + clickSeat.html();
                    seatRow = currentRowValue + "," + clickSeat.html() + " " + clickSeat.attr("id")
                }
            }
        } else {
            modifiedValue = currentValue.replace(new RegExp(removeValue + ",?"), '');
            seatRow = currentRowValue.replace(new RegExp(removeRole + ",?"), '');
            let index = $.inArray(clickSeat.html(), allSelectSeats);
            let rowIndex = $.inArray(clickSeat.attr("id"), allSelectRoles);
            if (index !== -1) {
                allSelectSeats.splice(index, 1);
                allSelectRoles.splice(rowIndex, 1);
            }
        }
        $(".selectSeat").val(modifiedValue);
        $("#seatRow").val(seatRow);
        //showing the selected Seats as Number Of Ticket 
        $("#txtNumberOfTickets").val(allSelectSeats.length);
        //showing the Total Amount = Unit Price * Qty
        $("#txtTotalAmount").val(Number($("#txtNumberOfTickets").val()) * Number($("#txtUnitPrice").val()));
    })
   
    $(".checking").on('click', function () {
        var url = "/TicketOrder/Checkout";
        var selectedticketsInfo = {};//make a json select ticket info
        selectedticketsInfo.TicketOrderedDate = $("#dptDepaturedDate").val();//get the user's input value of dptDepaturedDate
        selectedticketsInfo.PassengerType = $("#txtPassengerType").val();//get the user's input value of txtPassengerType
        selectedticketsInfo.RouteId = $("#txtRouteId").val();//get the hidden route id 
        selectedticketsInfo.SeatsNo = allSelectSeats;
        selectedticketsInfo.SeatRows = allSelectRoles;
        selectedticketsInfo.Status = "Reserved";
        selectedticketsInfo.BusLineType =$("#txtBusLineType").val();
        selectedticketsInfo.UnitPrice = $("#txtUnitPrice").val();
        selectedticketsInfo.When = $("#txtWhen").val();
        selectedticketsInfo.NumberOfTickets = $("#txtNumberOfTickets").val();
        selectedticketsInfo.TotalAmount = $("#txtTotalAmount").val();
        $.ajax({
            type: 'POST',
            url: url,
            data: selectedticketsInfo,
            success: function (response) {
                var data = JSON.stringify(response);
                if(data!=null){
                    var redirecturl = "/TicketOrder/OrderConfirm";
                    window.location = redirecturl;
                }
            },
            failure: function (error) {
                console.log(error);
            }
        });
    })
</script>