@model StudentViewModel
@{
    ViewData["Title"] = "Student Edit";
}
<body style="background-color:lightcyan">
    @if (TempData["info"] != null)
    {
        <div class="alert alert-success">
            @TempData["info"]
        </div>
    }
    <h3>Edit Student</h3>
    <form action="/student/update" method="post">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="mb-3">
            <label class="form-label">Code</label>
            <input type="text" class="form-control" name="Code" value="@Model.Code">
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="Name" value="@Model.Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" value="@Model.Email">
        </div>
        <div class="mb-3">
            <label class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" name="DOB" value="@Model.DOB.Date.ToString("yyyy-MM-dd")">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" name="Phone" value="@Model.Phone">
        </div>
        <div class="mb-3">
            <label class="form-label">NRC</label>
            <input type="tel" class="form-control" name="NRC" value="@Model.NRC">
        </div>
        <div class="mb-3">
            <label class="form-label">FatherName</label>
            <input type="tel" class="form-control" name="FatherName" value="@Model.FatherName">
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" name="Address">@Model.Address</textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Update" />
        <input type="reset" class="btn btn-primary" value="Cancel" />
    </form>
</body>
